





.nav-item:hover{
    transform: scale(1.1)
}
.nav{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.nav-item{margin-left: 20px;
    


}
.nav-link{
    text-decoration: none;
    font-weight: 800;
    color: rgb(31, 31, 31);
    font-size: larger;
    
    
}

.nav{
    width: 100vw;
    height: 10vh;
}
.nav-lista{
    display: flex;
    justify-content: center;
   
    align-items: center;
    margin-left: 10vw;
    
}
.center{
    width: 15vw;
    height: 80vh;
    position: relative;
    z-index: 1;
    background-color: rgb(168, 81, 19);
    
}
.t-right{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 60vh;
    background-color: whitesmoke;

}
.nav-link:hover{

    border-bottom: 1px solid rgb(47, 47, 141);
    color: #484545;
    
    }
    

.t-right p{
        padding-bottom: 10px;
        
    }
.t-right div{
    width: 80%;
}



.t-right h1{
    font-weight: 600;
    text-align: center;
    font-size:30px;
    margin-bottom: 20px;
}

.landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    
}
.logo-right{
    position: relative;
    z-index: 2;
    margin-right: -40px;
    
}
.right-text button{
    height: 35px;
   
    border:slategrey solid 1px;
    width: 110px;
     margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
   
    color: black;
}
.right-text button:hover{
    background-color: rgb(155, 92, 15);
    color: whitesmoke;
    }
.right-text a{
    direction: none;
}
    
.logo-right img{
    width: 350px;
    height: 300px;
}
footer{
    margin-top: 70px;
}
.footer-t{
    width: 100vw;
    height: 10vh;
    background-color: #154079;
    color: rgb(226, 224, 226);
    text-align: center;
padding-top: 20px;

}
.main-footer{
    width: 20%;
    
}
.footer-2{
    width: 100vw;
    height: 10vh;
    background-color: #282626;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #484545;
    height: 10vh;
    padding-top: 10px;
}
 



.logo-fix{
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;
    z-index: 10;
    height: 60px;
    width: 60px;
    margin-right: 40px;
    margin-top:30px;
    margin-bottom: 50px;}







    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    height: 100vh;
    
    
    }
    .conteudo h1{
        font-size: 60px;
        font-weight: 500;
        margin-bottom: 30px;
        color: rgb(37, 39, 39);
        
    }
    .conteudo p{
        margin-bottom: 30px;
        color: rgb(37, 35, 35);
        margin-top: 40px;
    }
    .fundo{
        background-image: url(https://img.freepik.com/fotos-gratis/plano-de-fundo-texturizado-com-pincelada-bege_53876-129531.jpg?w=900&t=st=1669313692~exp=1669314292~hmac=805d2200f3af0482196d4a45fcda39ce36aa5f06a39b4ae981b141845a5ef217);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
          }
    .conteudo{position: relative;
    text-align: center;}
    .conteudo button{
        width: 120px;
        height: 40px;
        border: none;
        background-color: rgb(48, 45, 43);
        color: rgb(213, 213, 211);
        font-size: 15px;
        font-weight: 700;
    }
    .conteudo2 img{
    width: 500px;
    height: 500px;
    }
    .conteudo2 h1{
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 40px;
    }
    .conteudo2-text{
        margin-left: 30px;
    }
    .conteudo2 p{ 
        font-size: 20px;
    }
    .container{
    padding-top: 70px;
    }
    .conteudo2-text{
        width: 400px;
    }
.conteudo2-text{
    margin-left: 30px;
}
#formulario{
    background-color: #484545;
    padding-left:130px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: aliceblue;
    font-size: 15px;
    width: 330px;
   
}
#btn_submit{
    margin-top: 30px;
    border: none;
    width: 170px;
}
.main-table{
    margin-top: 20px;
}
.main-table{border: 1px solid black;
padding: 20px;
background-color: gray;
width: 420px;}

tr td{

    background-color: gray;
}
td{
    padding: 10px;
    
}
tr{border: 1px solid whitesmoke;}